.test{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
}

.opcionesTest{
    width: 85%;
    padding: 8px;
    height: 68px;
}



.zonaRespuestas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 55vh;
}

.preguntaTest{
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 0;
}

.separacionTest{
    height: 2px;
    background-color: black;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.containerTest{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainTest{
    flex-grow: 1;
}

.headerTest{
    margin-bottom: 15px;
}

.testResuelto{
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.testResuelto > p{
    font-size: 1.3rem;
    text-align: center;
}

.btnTests{
    margin: 0;
}

.tiempoCat{
    display: flex;
    justify-content: space-between;
}

.tiempoCat > p{
    width: auto;
}

.categoria{
    color: rgb(82, 38, 38);
}

.tiempoRestante{
    display: flex;
    width: auto;
}


.tiempoRestante > p{
    color: red;
    width: auto;
    margin-left: 7px;
}

@media (min-width: 800px){
    .opcionesTest{
        width: 40%;
        padding: 8px;
        height: 68px;
    }

    .preguntaTest{
        font-size: 1.6rem;
    }
}