.navbar{
    /* position: fixed;
    bottom: 0; */
    width: 360px;
    height: 48px;   
    background-color: $fondoNavbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar > a > img {
    width: 35px;
}

.navbar > a{
    padding: 7px;
}