.navbar{
    
    width: 100%;
    height: 48px;   
    background-color: $fondoNavbar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar > a > img {
    width: 35px;
}

.navbar > a{
    padding: 7px;
}